/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Cutive Mono", monospace;
  width: 100%;
  height: 100%;
  margin: 0;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  min-height: 400vh;
  justify-content: flex-start; /* for main axis, will be at top, 'center' will be vert align center */
  align-items: center; /* for cross axis, will be at right, 'center' will be hort align center */
  flex-direction: column;
}

.content {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 10%;
  justify-content: center;
  align-items: center;
  flex: 1; /* evenly space, includes flex grow, shrink, basis */
  flex-wrap: wrap;
}

/* Colours for each box */
#main-content {
  display: flex;
  flex-direction: column;
  background: white;
}
.about-content {
  display: flex;
  flex-direction: row;
}
.project-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.contact-content {
  background: white;
}

.flex-nav ul {
  display: flex;
  font-size: 24px;
  padding: 10px;
}

.flex-nav li {
  padding: 10px;
}

h1 {
  font-size: 90px;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 48px;
  text-align: center;
  padding: 5%;
  width: 100%;
}

a:link,
a:visited {
  color: rgba(102, 102, 102, 1);
  text-decoration: none;
}

a:hover {
  color: black;
}

.flex-about, .flex-project, .flex-contact {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 90%;
}
.flex-about {
  justify-content: center;
  align-items: center;
}

.flex-project {
  flex-direction: column;
  justify-content: center;
}

.flex-contact {
  justify-content: space-between;
  align-items: center;
}

.flex-about ul {
  flex-basis: 525px;
  margin: 0;
  padding: 4% 0 4% 4%; /*media query mobile need to change to equal all around once stacked*/
  font-size: 24px;
}

.flex-about li {
  padding: 2px;
}

.aboutme {
  padding: 20px 40px 40px 40px;
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
}

.aboutme-skills {
  font-size: 24px;
  padding: 20px 25px 50px 25px;
  text-align: center;
}

.contact-icon {
  order: 2;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 20px 20px 60px 20px;
}

.arrow-top {
  order: 3;
  align-self: flex-end;
  text-align: right;
  font-size: 16px;
  width:100%;
}

.img-mug {
  margin: 0;
  width: 200px;
  height: 215px;
  border-radius: 50%;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  margin: 10px;
}

/* Project: On hover events */
.overlay-proj {
  position: relative;
}

.overlay-img {
  width: 700px;
  height: 514px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 2px solid grey;
}

.overlay-textDiv {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-proj:hover .overlay-img {
  opacity: 0.5;
}

.overlay-proj:hover .overlay-textDiv {
  opacity: 0.7;
  background-color: black;
}

.overlay-text ul {
  color: white;
  font-size: 30px;
  width: 700px;
  height: 300px;
  padding: 6% 3%;
  text-align: center;
  line-height: 1.4;
}

.overlay-text li {
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
}

.overlay-icon:hover {
  -webkit-filter: invert(.5);
  filter: invert(.5);
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 72px;
  }

  .flex-nav ul {
    font-size: 20px;
  }

  .flex-about ul {
    padding: 5% 5% 5% 10%;
  }

  .aboutme {
    font-size: 20px;
  }

  .overlay-img {
    width: 500px;
    height: auto;
  }

  .overlay-text ul {
    font-size: 20px;
    width: 500px;
    height: auto;
  }

  .overlay-icon {
    width: 100px;
    height: auto;
  }
}

@media all and (max-width: 375px) {
  body {
    display: inline-block;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 36px;
  }

  .flex-nav ul {
    font-size: 16px;
  }

  .flex-about ul {
    font-size: 16px;
    padding: 5% 5% 5% 10%;
  }

  .img-mug {
    width: 150px;
    height: auto;
  }

  .aboutme {
    font-size: 16px;
  }

  .aboutme-skills {
    font-size: 16px;
  }

  .overlay-img {
    width: 300px;
    height: auto;
  }

  .overlay-text ul {
    font-size: 16px;
    width: 300px;
    height: auto;
  }

  .overlay-text li {
    font-size: 12px;
    padding-left: 0px;
  }

  .overlay-icon {
    width: 64px;
    height: auto;
  }

  .arrow-top {
    font-size: 12px;
  }
}
